.hill{
	background-color: black;
  padding: 20px;
  text-align: left;
  font-size: 150%;
  color: black;
  border: double 4px black ;
	
}
h1{
	color:black;
	font-size: 300%;
	border: dotted; 5px; 
	
  border: double 20px;
  border-radius: 25px;