{% extends 'layout.html' %}
{% block body %}



<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
  


<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/test.css')}}">
</head>
  


<body class="container-sm">
<ul class="list-unstyled">
  <li class="media">
    <img src="{{url_for('static',filename='images/paddy.jpg')}}" class="rounded-pill" alt="Paddy">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Paddy Considine</h5>
      <p style=" font-size: 120%;">
      Patrick George Considine (born 5 September 1973) is an English actor, director, and screenwriter. He frequently collaborates with filmmaker/director Shane Meadows. He has received two British Academy Film Awards, three Evening Standard British Film Awards, British Independent Film Awards and a Silver Lion for Best Short Film at the 2007 Venice Film Festival.
    as King Viserys I Targaryen (season 1): The fifth king of the Seven Kingdoms. Known as "a warm, kind, and decent man", Viserys was chosen by a council of lords to succeed his grandfather, King Jaehaerys I Targaryen, as king. Viserys is the firstborn son of King Jaehaerys' second son Prince Baelon Targaryen and his sister-wife Princess Alyssa Targaryen</p>
    </div>
  </li>
  <li class="media my-4">
    <img src="{{url_for('static',filename='images/matt.jpg')}}" class="rounded-pill" alt="Matt">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Matt Smith</h5>
      <p>Matthew Robert Smith (born 28 October 1982) is an English actor. He is best known for his roles as the eleventh incarnation of the Doctor in the BBC series Doctor Who (2010–2013), Daemon Targaryen in the HBO series House of the Dragon (2022–present) and Prince Philip in the Netflix series The Crown (2016–2017), the latter of which earned him a Primetime Emmy Award nomination.

Smith initially aspired to be a professional footballer, but spondylolysis forced him out of the sport. After joining the National Youth Theatre and studying drama and creative writing at the University of East Anglia, he became an actor in 2003, performing in plays including Murder in the Cathedral.</p>
    </div>
  </li>
  <li class="media">
    <img src="{{url_for('static',filename='images/emma.jpg')}}" class="rounded-pill" alt="Emma">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Emma D'Arcy</h5>
      <p>Emma Zia D'Arcy (born 27 June 1992) is an English actor. They are known for their roles in the BBC drama Wanderlust (2018), the Amazon Prime series Truth Seekers (2020), and the HBO fantasy series House of the Dragon (2022–).

        D'Arcy was born in the North London Borough of Enfield. In year six, they played Titania in a school production of A Midsummer Night's Dream, which they credit for introducing them to acting.[1] They studied Fine Art at the Ruskin School of Art through St Edmund Hall, Oxford, graduating in 2011.


      </p>
    </div>
  </li>
  <li class="media">
    <img src="{{url_for('static',filename='images/otto.jpg')}}" class="rounded-pill" alt="Otto">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Rhys Ifans</h5>
      <p>Rhys Ifans (Welsh pronunciation: [r̥ɨːs ˈivans]; born Rhys Owain Evans; 22 July 1967) is a Welsh actor and musician. He was the frontman of Welsh rock music bands the Peth and Super Furry Animals. As an actor, he is best known for his roles in Notting Hill (1999), Kevin & Perry Go Large (2000) and Enduring Love (2004) as well as his portrayals of Xenophilius Lovegood in Harry Potter and the Deathly Hallows – Part 1 (2010), the supervillain Lizard in The Amazing Spider-Man (2012) and Spider-Man: No Way Home (2021), and Grigori Rasputin in The King's Man (2021). Other roles include Hector DeJean in the Epix thriller series Berlin Station, Mycroft Holmes in the CBS series Elementary, and Ser Otto Hightower in the HBO television series House of the Dragon.

      </p>
    </div>
  </li>
 <li class="media">

    <img src="{{url_for('static',filename='images/olivia.jpg')}}" class="rounded-pill" alt="Olivia">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Olivia Cooke</h5>
      <p>Olivia Kate Cooke (born 27 December 1993) is an English actress. In television, she has starred as Emma Decody in the thriller Bates Motel (2013–2017), Becky Sharp in the period drama Vanity Fair (2018), and Alicent Hightower in the fantasy drama House of the Dragon (2022 onwards).

In film, Cooke has starred in the horror film Ouija (2014), the comedy-drama film Me and Earl and the Dying Girl (2015), the thriller Thoroughbreds (2017), the science fiction film Ready Player One (2018), and the drama Sound of Metal (2020).
      </p>
    </div>
  </li>

<li class="media">

    <img src="{{url_for('static',filename='images/eve.jpg')}}" class="rounded-pill" alt="eve">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Eve Best</h5>
      <p>Emily "Eve" Best (born 31 July 1971) is an English actress and director.[1] She is known for her television roles as Dr. Eleanor O'Hara in the Showtime series Nurse Jackie (2009–13), First Lady Dolley Madison in the American Experience television special (2011), and Monica Chatwin in the BBC miniseries The Honourable Woman (2014). She also played Wallis Simpson in the 2010 film The King's Speech.

Best won the 2006 Olivier Award for Best Actress for playing the title role in Hedda Gabler. She made her Broadway debut in the 2007 revival of A Moon for the Misbegotten, winning the Drama Desk Award for Outstanding Actress in a Play, and receiving the first of two nominations for the Tony Award for Best Actress in a Play; the second was for the revival of The Homecoming in 2008. She returned to Broadway in the 2015 revival of Old Times.[2] She was cast as Princess Rhaenys Targaryen in HBO’s House of the Dragon.
      </p>
    </div>
  </li>
<li class="media">

    <img src="{{url_for('static',filename='images/grrm.jpg')}}" class="rounded-pill" alt="grrm">
    <div class="media-body">
      <h5 class="mt-0 mb-1">George R. R. Martin</h5>
      <p>George Raymond Richard Martin[1] (born George Raymond Martin; September 20, 1948),[2] also known as GRRM,[3] is an American novelist, screenwriter, television producer and short story writer. He is the author of the series of epic fantasy novels A Song of Ice and Fire, which were adapted into the Emmy Award-winning HBO series Game of Thrones (2011–2019) and its prequel series House of the Dragon (2022–present). He also helped create the Wild Cards anthology series, and contributed worldbuilding for the 2022 video game Elden Ring.

In 2005, Lev Grossman of Time called Martin "the American Tolkien",[4][5][6] and in 2011, he was included on the annual Time 100 list of the most influential people in the world.[7][8] He is a longtime citizen of Santa Fe, New Mexico, where he helped fund Meow Wolf and owns the Jean Cocteau Cinema, the city commemorates March 29 as George RR Martin Day.
      </p>
    </div>
  </li>


</ul>

</body>
</html>
{% endblock %}