{% extends 'layout.html' %}
{% block body %}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body class="container-sm">
	<div>
		
		<p>
			<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">NO.</th>
      <th scope="col">Title</th>
      <th scope="col">Directed by</th>
      <th scope="col">Written by</th>
       <th scope="col">Original air date</th>
        <th scope="col">HBO viewers(millions)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>'The heirs of the dragon"</td>
      <td>Miguel Sapochnik</td>
      <td>Ryan Condal</td>
      <td>August 21, 2022</td>
      <td>2.17</td>


       


    </tr>

   
  </tbody>
  

  <tbody>
    <tr>
      <th scope="row">2</th>
      <td>"The Rogue Prince"</td>
      <td>Greg Yaitanes</td>
      <td>Ryan Condal</td>
      <td>August 28, 2022</td>
      <td>2.26</td>

      
       


    </tr>
   
  </tbody>

<tbody>
    <tr>
      <th scope="row">3</th>
      <td>	"Second of His Name"</td>
      <td>Greg Yaitanes</td>
      <td>Gabe Fonseca & Ryan Condal</td>
      <td>September 4, 2022	</td>
      <td>1.75</td>

      
       


    </tr>
   
  </tbody>

<tbody>
    <tr>
      <th scope="row">4</th>
      <td>"King of the Narrow Sea"</td>
      <td>Clare Kilner</td>
      <td>Ira Parker</td>
      <td>September 11, 2022	</td>
      <td>1.81</td>

      
       


    </tr>
   
  </tbody>


  <tbody>
    <tr>
      <th scope="row">5</th>
      <td>"We Light the Way"</td>
      <td>Clare Kilner</td>
      <td>Charmaine DeGraté</td>
      <td>September 18, 2022	</td>
      <td>1.83</td>

      
       


    </tr>
   
  </tbody>

<tbody>
    <tr>
      <th scope="row">6</th>
      <td>"The Princess and the Queen"</td>
      <td>Miguel Sapochnik</td>
      <td>Sara Hess</td>
      <td>September 25, 2022	</td>
      <td>1.86</td>

      
       


    </tr>
   
  </tbody>


  <tbody>
    <tr>
      <th scope="row">7</th>
      <td>"Driftmark"</td>
      <td>Miguel Sapochnik</td>
      <td>Kevin Lau</td>
      <td>October 2, 2022</td>
      <td>1.88</td>

      
       


    </tr>
   
  </tbody>


  <tbody>
    <tr>
      <th scope="row">8</th>
      <td>"The Lord of the Tides"</td>
      <td>Geeta Vasant Patel</td>
      <td>Eileen Shim</td>
      <td>October 9, 2022</td>
      <td>1.73</td>

      
       


    </tr>
   
  </tbody>

<tbody>
    <tr>
      <th scope="row">9</th>
      <td>"The Green Council"</td>
      <td>Clare Kilner</td>
      <td>Sara Hess</td>
      <td>October 16, 2022</td>
      <td>1.56</td>

      
       


    </tr>
   
  </tbody>

  <tbody>
    <tr>
      <th scope="row">10</th>
      <td>"The Black Queen"</td>
      <td>Greg Yaitanes</td>
      <td>Ryan Condal</td>
      <td>October 23, 2022</td>
      <td>1.85</td>

      
       


    </tr>
   
  </tbody>




</table>
	
			




		</p>




	</div>

</body>
</html>
{% endblock %}
